---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid path = profile_image_path class = profile_image_class sizes = sizes alt = page.profile.image
            cache_bust = true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}
    
    <div class="clearfix">{{ content }}</div>

    <div class="col-20 col-lg-20">
      <p class="justify">{{ page.research }}</p>
      <div class="row">
        <div class="col-md-5">
          <div class="section-subheading">Interests</div>
            <ul class="ul-interests mb-0">
          {% for interest in page.interests %}
              {% comment %} <li><i class="fa-li fa-solid fa-book"></i>{{ interest }}</li> {% endcomment %}
              <li>
              <div class="description">
                <p class="interest">-- {{ interest }}</p>
              </div>
              </li>
          {% endfor %}
            </ul>
        </div>
        
        <div class="col-md-7">
          <div class="section-subheading">Education</div>
          <ul class="ul-edu mb-0">
            {% for edu in page.education %}
            <li>
              <div class="description">
                <p class="course">-- {{ edu.course }}, {{ edu.institution }}, {{ edu.year }}</p>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Teaching -->
    {% if page.teaching %}
      <h2 class="teaching_subtitle">
        <a href="{{ '/teaching/' | relative_url }}" style="color: inherit">teaching assistant</a>
      </h2>
      <div class="teaching_subsection">
        <ul>
          {% for teach in page.teaching %}
            <li><i class="fa-li fa-solid"></i>
              <div class="description">
                <p class="teach">{% if teach.url %}<a href="{{ teach.url }}">{{ teach.course }}</a>{% else %}{{ teach.course }}{% endif %}, {{ teach.year }}</p>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <!-- Latest posts -->
    {% if page.latest_posts %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">my posts for fun</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}
  </article>
</div>
